<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% include 'admin/styles.html' %}
</head>
<body>
    {% include 'admin/navigation.html' %}

    <!-- Login Form -->
    <div class="form-wrapper">
        <form method="POST" autocomplete="off" action="/admin/loginAttempt">
            <ul>
                <li>{{form.email(placeholder='Email')}}</li>
                <li>{{form.password(placeholder='Password')}}</li>
                    {{form.csrf_token}}
                <li>{{form.submit()}}</li>
            </ul>
        </form>
        {{message}}

        
    </div>

    

</body>
</html>