<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Login</title>
</head>
{% include 'admin/styles.html' %}
<body>
    {% include 'admin/navigation.html' %}

    <div class="form-wrapper">
        <form method="POST" action="/check-verification-code">
            <ul>
                <li>{{form.email_code(placeholder='Verification Code')}}</li>
                    {{form.csrf_token}}
                <li>{{form.submit()}}</li>
            </ul>
        </form>

        {{message}}

        <h1>Not Received a code? <a href="{{url_for('admin_bp.resend_verification')}}">Click here to resend</a></h1>
    </div>
</body>
</html>