<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSelluBuy - Setup</title>
    {% include 'admin/styles.html' %}
</head>
<body>
    {% include 'admin/navigation.html' %}

    <div class="reg-success">
        <h2>You have now been registered. You will no longer be able to access the registration panel.</h2>

        <a href="{{url_for('admin_bp.dashboard')}}">Go To Dashboard</a>
    </div>
    
    
</body>
</html>