<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    {% include 'auth/styles.html' %}
</head>
<body>
    {% include 'auth/user-navigation.html' %}

    <div class="form-wrapper">
        <form method="POST" action="/auth/set-password">
        
        <ul>
            <li>{{form.password(placeholder="New Password")}}</li>
            <li>{{form.csrf_token}}</li>
            <li>{{form.submit()}}</li>
        </ul>
        
        </form>
        {{message}}
    </div>
    
</body>
</html>