<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify IP</title>
    {% include '/auth/styles.html' %}
</head>
<body>
    {% include '/auth/user-navigation.html' %}

    <div class="form-wrapper">
        <form method="POST" action="/auth/verify/ip">
        
            <ul>
                <li>{{form.email_code(placeholder="Verification Code")}}</li>
                <li>{{form.csrf_token}}</li>
                <li>{{form.submit()}}</li>
            </ul>
        
        
        </form>
        <a href="/auth/resend-email-verification">Resend Verification Code</a>
    </br>
        {{message}}
    </div>
</body>
</html>